*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    color: white;
    background-image: url("../images/Blackbg.jpg");
    background-repeat: repeat-y;
    background-size: 100%
}

nav{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 105%;
    background-color: #f1f1f1;
}

nav a{
    text-decoration: none;
    color: black;
}
.progress-container{
    width: 100%;
    height: 8px;
}
  
.progress-bar{
    height: 8px;
    background: gold;
    width: 0%;
}

header img{
    height: 10%;
    width: 10%;
}

.topHeader{
    background-image: url("../images/gradient.jpg");
    background-repeat: repeat-x;
    background-size: 25%;
    font-family: serif;
}

header .subHeader {
    background-image: url("../images/gradient.jpg") ;
    background-size: 1%;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-width: 100.5%;
}
 

::placeholder{
    color: white;
    font-family: serif;

}
@media screen and (max-width: 600px) {
    .subHeader input[type=text] {
      float: none;
      text-align: left;
      width: 100%;
      padding: 14px;
    }
    .subHeader input[type=text] {
      border: 1px solid #ccc;
    }
}





article{
    margin-right: 40%;
    
}
div.img{
    display:table;
}

div.img img{
    width: 100%;
    height: auto;
}

div.img p{
   line-height:normal;
   font-size:11px;
   display:table-caption;
   margin:0;
   background:#646464;
   font-style:italic;
   padding:5px;
   text-align:center;
}

aside{
    width: 40%;
}
aside #italy{
    background-image: url("../images/ItalianFlag.jpg");
    background-size: contain;
    background-color: #cccccc;
}
address table, th, td {
    border: 1px solid;
    text-align: center;
    width: 50%;
    margin-left: 5%;
}


section ul{
    list-style: none;
    float: left;
}

section a,footer a{
    text-decoration: none;
    color: white;
}

section img{
    border-radius: 50%;
    margin-right: 1%;
}
footer{
    clear: both;
    background-color: rgba(0, 0, 0, 0.223);
}

footer li{
    display: inline;
}
